DEFAULT_HELIOVIEWER_DATE=

POSTGRES_DB=flare_db
POSTGRES_USER=flare_user
POSTGRES_PASSWORD=flare_password
DATABASE_URL=postgresql+psycopg://flare_user:flare_password@db:5432/flare_db
SOLAR_EVENTS_SERVICE_URL=http://solar-events-api:8000

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=solar-artifacts
MINIO_SECURE=false
